html {
  box-sizing: border-box;
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after {
  /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default but can be overridden as needed */
  box-sizing: inherit;
}

body {
  background-color: #6C809A;
  color: black;
  /* Use a system font, if none are available use any found sans-sarif font */
  font-family: system-ui, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 
    'Helvetica Neue', sans-serif;
  margin: 0;
}

nav {
  background-color: #14213D;
  color: white;
  display: flex;
  align-items: center;
  padding: 10px;
  min-height: 60px;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.nav-btns {
  background-color: #00A6FB;
  border-style: groove;
  border-radius: 8px;
  margin: 5px;
  font-size: large;
}

.nav-btns:hover {
  background-color: #14213D;
  color: white;
}

.home-page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #FDFFFC;
  margin-top: 100px;
  padding: 100px;
  border: 10px solid #14213D;
  border-radius: 24px;
}

.home-btns {
  background-color: #00A6FB;
  border-style: groove;
  border-radius: 8px;
  margin: 5px;
  font-size: large;
}

.home-btns:hover {
  background-color: #6C809A;
  color: whitesmoke;
}

.title-text {
  font-family: 'Caveat', cursive, sans-serif;
  font-size: 50px;
}

#home-welcome-text {
  font-family: 'Caveat', cursive, sans-serif;
  font-size: 35px;
}

#guest-btn {
  margin: 32px;
  padding: 5px;
}

#get-cooking-text {
  font-family: 'Caveat', cursive, sans-serif;
  font-size: 35px;
}
