

this is the body +++++ {
  recipeName: 'a;lksdjfl;kasdjflk',
  ingredientName: 'thing 6',
  quantity: '6',
  unit: 'millileter(s)',
  instructions: 'lasdkjf;lasdkjf;laskdjflksajd'
}

this is the body +++++ {
  recipeName: 'a;lksdjfl;kasdjflk',
  ingredientName: [ 'thing 6', 'thing 7' ],
  quantity: [ '6', '7' ],
  unit: [ 'millileter(s)', 'millileter(s)' ],
  instructions: 'lasdkjf;lasdkjf;laskdjflksajd'
}


<main>
  <h1>Recipes</h1>
  <ul>
    <% recipes.forEach(recipe => { %>
      <li> 
        <a href="/recipes/<%= recipe._id %>"><%= recipe.recipeName %></a> 
      </li>
    <% }) %>
  </ul>
</main>