<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/ingredients/show.css" />
<%- include('../partials/nav') %>

<h1>this is the show view</h1>

<%- include('../partials/footer') %>