.index-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.recipe-div {
  color: whitesmoke;
  background-color: #14213D;
  border: 2px solid black;
  border-radius: 32px;
  margin: 5px;
  height: 80px;
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recipe-btns-div {
  margin: 5px;
  padding: 5px;
}

.details-btn {
  margin: 5px;
  padding: 5px;
  background-color: #00A6FB;
  border-radius: 8px;
  border-style: groove;
  color: white;
}

.details-btn:hover {
  background-color: #14213D;
  color: whitesmoke;
}

.title-text {
  font-family: 'Caveat', cursive, sans-serif;
  font-size: 50px;
}