.title-text {
  text-align: center;
  font-family: 'Caveat', cursive, sans-serif;
  font-size: 48px;
}

.main-title {
  font-family: 'Caveat', cursive, sans-serif;
  font-size: 75px;
}

.show-btns {
  margin: 5px;
  padding: 5px;
  background-color: #00A6FB;
  border-radius: 8px;
  border-style: groove;
  color: white;
}

.ingredient-text {
  font-family: 'Caveat', cursive, sans-serif;
  font-size: 32px;
}

.line {
  background-color: #14213D;
  height: 5px;
  width: 80vw;
  margin-top: 50px;
  margin-bottom: 0;
}

textarea {
  resize: none;
  height: 20vh;
  width: 40vw;
}

#recipe-name {
  font-size: 56px;
}

#recipe-instructions {
  width: 32vw;
}

